import link rel="stylesheet" href="../css/myTasks.css">

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f6fa;
}

/* Login-Box-Design */
.login-box {
    background-color: #ffffff;
    padding: 2rem;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Überschrift des Login-Fensters */
.login-header header {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Stile für die Eingabefelder */
.input-type, .input-box {
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #3498db;
}

/* Checkbox und Link für Passwort vergessen */
.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.forgot section {
    font-size: 0.9rem;
}

.forgot a {
    color: #3498db;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

/* Style für den Anmelde-Button */
.submit-btn {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2980b9;
}

/* Link zum Registrieren */
.sign-up-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.sign-up-link a {
    color: #3498db;
    text-decoration: none;
}

.sign-up-link a:hover {
    text-decoration: underline;
}
