body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5; /* Helles Grün für Hintergrund */
    margin: 0;
}

header {
    background-color: #086A87; /* Dunkler Farbton für den Header */
    padding: 10px 0; /* Vertikales Padding */
    width: 100%; /* Volle Breite */
    position: fixed; /* Fixiert oben */
    top: 0; /* An die obere Seite anheften */
    left: 0; /* An die linke Seite anheften */
    z-index: 1000; /* Sicherstellen, dass der Header immer sichtbar ist */
}

.navbar {
    background-color: #086A87;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex; /* Flexbox für die Navbar */
    justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
    align-items: center; /* Zentrieren der Elemente */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px; /* Padding für die Links */
    flex-grow: 1; /* Links nehmen gleichmäßig Platz ein */
    text-align: center;
}

/* Styling for the active (current) page */
.navbar ul li a.active {
    color: #333; /* Dunklere Schriftfarbe für die aktuelle Seite */
    background-color: #f4fbfa; /* Hintergrundfarbe, um die aktive Seite hervorzuheben */
    border-radius: 5px; /* Leicht abgerundete Kanten */
}

.navbar ul li a:hover {
    background-color: #065f6a; /* Hover-Effekt für alle Links */
}

.homepage-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    padding-top: 100px; /* Abstand zur Navbar */
}

.logo-container {
    width: 30%;
    text-align: center;
}

.logo {
    width: 100%;
    height: auto;
}

.content-container {
    width: 70%;
    padding-left: 30px;
}

.welcome-message h1 {
    font-size: 2em;
    color: #0295A9;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)/* Zentriert den Titel */
}

.content h2 {
    text-align: center; /* Zentriert die Überschrift */
}

.intro-text p {
    color: #0295A9;
    font-size: 16px;
    line-height: 1.6;
    text-align: center; /* Zentriert den Text */
}

.action-container {
    text-align: center; /* Zentriert die Buttons und den Text */
    margin-top: 20px;
}

.action-buttons {
    display: flex; /* Flexbox für die Buttons */
    justify-content: center; /* Zentriert die Buttons */
    gap: 30px; /* Abstand zwischen den Buttons */
    margin-top: 50px; /* Abstand oben */
}

.action-description {
    color: #0295A9; /* Gleiche Farbe wie der Rest des Textes */
    font-size: 14px; /* Kleinere Schriftgröße für die Beschreibung */
    margin-bottom: 5px; /* Abstand zum Button */
    max-width: 180px; /* Maximale Breite des Beschreibungstextes */
    text-align: center; /* Zentriert den Text */
}

.action-btn {
    padding: 20px 30px;
    background-color: #0295A9;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    width: 180px; /* Breite der Buttons */
    height: 80px; /* Höhe der Buttons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.action-btn:hover {
    background-color: #055f6a;
}
