body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5; /* Helles Grün für Hintergrund */
    margin: 0;
}

header {
    background-color: #086A87; /* Dunkler Farbton für den Header */
    padding: 10px 0; /* Vertikales Padding */
    width: 100%; /* Volle Breite */
    position: fixed; /* Fixiert oben */
    top: 0; /* An die obere Seite anheften */
    left: 0; /* An die linke Seite anheften */
    z-index: 1000; /* Sicherstellen, dass der Header immer sichtbar ist */
}

.navbar {
  background-color: #086A87;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  display: flex; /* Flexbox für die Navbar */
  justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
  align-items: center; /* Zentrieren der Elemente */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px; /* Padding für die Links */
  flex-grow: 1; /* Links nehmen gleichmäßig Platz ein */
  text-align: center;
}
.navbar ul li a:hover {
  background-color: #055f6a; /* Etwas dunklere Farbe beim Hover */
}

.homepage-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-top: 80px;
}

.logo-container {
  width: 60%;
  text-align: center;
}

.logo {
  width: 120%;
  height: auto;
}

.content-container {
  width: 70%;
  padding-left: 30px;
}

.welcome-message h1 {
  font-size: 2em;
  color: #086A87;
  text-align: center;
  margin-bottom: 50px;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Stile für den Text und die Buttons */
.content {
  text-align: center;
  color: #086A87; /* Gleiche Farbe wie die Buttons */
  margin-bottom: 50px;
}

.action-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content:center;

}

.action-btn {
  padding: 20px 30px;
  background-color: #086A87;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  width: 180px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.action-btn:hover {
  background-color: #055f6a;
}






