body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5; /* Helles Grün für den Hintergrund */
    margin: 0;
}

header {
    background-color: #086A87; /* Dunkler Farbton für den Header */
    padding: 10px 0; /* Vertikales Padding */
    width: 100%; /* Volle Breite */
    position: fixed; /* Fixiert oben */
    top: 0; /* An die obere Seite anheften */
    left: 0; /* An die linke Seite anheften */
    z-index: 1000; /* Sicherstellen, dass der Header immer sichtbar ist */
}

.navbar {
    display: flex; /* Flexbox für die Navbar */
    justify-content: center; /* Zentrieren der Elemente */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px; /* Abstand zwischen den Menüpunkten */
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.navbar ul li a.active {
    color: #333; /* Dunklere Schriftfarbe für die aktuelle Seite */
    background-color: #f4fbfa; /* Hintergrundfarbe, um die aktive Seite hervorzuheben */
    border-radius: 5px; /* Leicht abgerundete Kanten */
}
.navbar ul li a:hover {
    background-color: #065f6a; /* Hover-Effekt für alle Links */
}

.mealplan-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentrieren des Inhalts */
    padding: 100px 20px; /* Platz für Header */
}

h1 {
    color: #0295A9; /* Helle Farbe für die Überschrift */
    text-align: center; /* Zentrieren der Überschrift */
    margin-bottom: 30px; /* Abstand nach unten */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}

.mealplan-table {
    border-collapse: collapse; /* Zusammenlegen der Zellen */
    width: 100%; /* Volle Breite */
}

.mealplan-table th, .mealplan-table td {
    border: 1px solid #ccc; /* Rand für die Zellen */
    padding: 10px; /* Innenabstand */
    text-align: center; /* Zentrieren des Textes */
}

.mealplan-table th {
    background-color: #086A87; /* Gleiche Farbe wie die Navbar */
    color: white; /* Textfarbe für die Überschrift */
}

input[type="text"] {
    width: 150px; /* Breite der Eingabefelder */
    padding: 5px; /* Innenabstand */
    border: 1px solid #ccc; /* Rand */
    border-radius: 5px; /* Runde Ecken */
}

.nutritional-info {
    font-weight: bold; /* Fettdruck für Nährwertangaben */
}

.submit-btn {
    padding: 10px 20px;
    background-color: #086A87; /* Gleiche Farbe wie die Navbar */
    color: white;
    border: none;
    border-radius: 5px; /* Runde Ecken */
    cursor: pointer;
    transition: background-color 0.3s; /* Übergangseffekt für Hover */
}

.submit-btn:hover {
    background-color: #055f6a; /* Etwas dunklerer Farbton beim Hover */
}
