body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.profile-box {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 10px;
}

.profile-title {
    font-size: 24px;
    color: #086A87;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 3D-Effekt */
}

.input-box {
    margin-bottom: 20px;
}

.input-field {
    width: 280px; /* Feste Breite für alle Eingabefelder */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-submit .submit-btn {
    background-color: #086A87;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-submit .submit-btn:hover {
    background-color: #065f6a;
}

.action-container {
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #666;
}
