body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5; /* Helles Grün für den Hintergrund */
    margin: 0;
}

header {
    background-color: #086A87; /* Dunkler Farbton für den Header */
    padding: 10px 0; /* Vertikales Padding */
    width: 100%; /* Volle Breite */
    position: fixed; /* Fixiert oben */
    top: 0; /* An die obere Seite anheften */
    left: 0; /* An die linke Seite anheften */
    z-index: 1000; /* Sicherstellen, dass der Header immer sichtbar ist */
}

.navbar {
    background-color: #086A87;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex; /* Flexbox für die Navbar */
    justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
    align-items: center; /* Zentrieren der Elemente */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px; /* Padding für die Links */
    flex-grow: 1; /* Links nehmen gleichmäßig Platz ein */
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentrieren des Inhalts */
    padding: 100px 20px; /* Platz für Header */
}

h1 {
    color: #0295A9; /* Helle Farbe für die Überschrift */
    text-align: center; /* Zentrieren der Überschrift */
    margin-bottom: 30px; /* Abstand nach unten */
}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-buttons {
    display: flex;
    justify-content: center; /* Zentrieren der Buttons */
    flex-wrap: wrap; /* Zeilenumbruch für kleinere Bildschirme */
}

.action-btn {
    padding: 15px 30px;
    background-color: #086A87; /* Gleiche Farbe wie die Navbar */
    color: white;
    border: none;
    border-radius: 25px; /* Runde Ecken */
    font-size: 16px;
    cursor: pointer;
    margin: 10px; /* Abstand zwischen den Buttons */
    transition: background-color 0.3s; /* Übergangseffekt für Hover */
}

.action-btn:hover {
    background-color: #055f6a; /* Etwas dunklerer Farbton beim Hover */
}
