/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e0f7f5;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
    background-color: #086A87;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    display: flex; /* Flexbox für die Navbar */
    justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
    align-items: center; /* Zentrieren der Elemente */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px; /* Padding für die Links */
    flex-grow: 1; /* Links nehmen gleichmäßig Platz ein */
    text-align: center;
}
.recipe-container {
  background-color: #ffffff;
  padding: 40px;
  width: 80%;
  max-width: 600px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-title {
  font-size: 2em;
  color: #086A87;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 3D-Effekt */
}

.form-section {
  margin-bottom: 20px;
  text-align: left;
}

.form-section label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="file"],
.form-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-section input[type="text"]:focus,
.form-section input[type="number"]:focus,
.form-section input[type="file"]:focus,
.form-section textarea:focus {
  border-color: #086A87;
}

.submit-btn {
  background-color: #0295A9;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #065f71;
}

.form-section input[type="number"] {
  width: calc(25% - 10px);
  margin-right: 10px;
}

.form-section input[type="file"] {
  background-color: #f9f9f9;
  padding: 8px;
}
