
body {
    font-family: Arial, sans-serif;
    background-color: #e0f7f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.backToRecipes {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin: 100px 0;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
}

.backToRecipes:hover {
    text-decoration: underline;
}

.recipe-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

#recipe-name {
    color: #0295A9;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#recipe-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#recipe-description {
    color: #666;
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}

#ingredient-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#ingredient-list li {
    background-color: #f4fbfa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#delete-recipe-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#delete-recipe-btn:hover {
    background-color: #c0392b;
}

/* Footer */
footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    padding: 20px;
}
